<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=htm, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="rd">header </header>
    <nav class="nav rd">nav</nav>
    <main class="rd">main</main>
    <aside class="aside rd">aside </aside>
    <section class="section rd">section</section>
    <aside class="aside2 rd">aside</aside>
    <footer class="rd">footer</footer>
</body>
</html>